<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-subtitle>{{ article.category }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="article.img" alt="Foto di {{ article.title }}">

    <mat-card-content>
        <div [innerHTML]="article.desc | truncate:400"></div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
        <a mat-stroked-button color="primary" [href]="article.link" target="_blank">
            <mat-icon>open_in_new</mat-icon>
            Open
        </a>

        <button mat-stroked-button color="accent" (click)="shareArticle(article)">
            <mat-icon>share</mat-icon>
            Share
        </button>

        <button *ngIf="!isFavourite()" mat-stroked-button color="warn" (click)="addFavourite()">
            <mat-icon>bookmark</mat-icon>
            Save
        </button>
        <button *ngIf="isFavourite()" mat-stroked-button color="warn" (click)="removeFavourite()">
            <mat-icon>bookmark_remove</mat-icon>
            Remove
        </button>
    </mat-card-actions>
</mat-card>