<div class="container">
<mat-form-field  (click)="clear()">
  <mat-label>Feed Selection</mat-label>
  <mat-select class="field" [formControl]="selectedFeed" (selectionChange)="handleSelection($event.value)">
    <mat-option class="field" value="rss">RSS</mat-option>
    <mat-option class="field" value="reddit">REDDIT</mat-option>
  </mat-select>
</mat-form-field>
</div>

<form [formGroup]="superForm" (ngSubmit)="submitForm()">
  <div class="form-container">
    <div class="column1" formArrayName="rssForm">
      @for (feed of rssForm.controls; let i = $index; track $index) {
      <div class="form-group" [formGroupName]="i">
        <mat-form-field>
          <mat-label for="journalName">Journal Name</mat-label>
          <input matInput id="journalName" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="journalUrl">Journal Rss (url)</mat-label>
          <input matInput id="journalUrl" formControlName="url">
        </mat-form-field>

        <div class="button-container">
          <button type="button" mat-fab aria-label="icon button with a delete icon" (click)="removeFieldRss(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>
      }
    </div>

    <div class="column1" formArrayName="redditForm">
      @for (feed of redditForm.controls; let i = $index; track $index) {
      <div class="form-group" [formGroupName]="i">
        <mat-form-field>
          <mat-label for="subRedditName">Sub-Reddit Name</mat-label>
          <input matInput id="subRedditName" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label or="subRedditUrl">Sub-Reddit Url</mat-label>
          <input matInput id="subRedditUrl" formControlName="url">
        </mat-form-field>

        <div class="button-container">
          <button type="button" mat-fab aria-label="icon button with a delete icon" (click)="removeFieldReddit(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>
      }
    </div>
  </div>
  <div class="button-container">
    <button type="submit" mat-fab aria-label="icon button with a confirm icon">
      <mat-icon>done_all</mat-icon>
    </button>
  </div>
</form>