.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Desktop: 3 colonne */
    gap: 16px;
    padding: 16px;
}

@media (max-width: 900px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        /* Tablet: 2 colonne */
    }
}

@media (max-width: 600px) {
    .cards-container {
        grid-template-columns: 1fr;
        /* Mobile: 1 colonna */
    }
}